
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8b8e91;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #8b8e91;
}

.active {
    background-color: #0876E9;
}

#logo{
    height: 50px;
}

img{
    max-height: 175px;
}

    