.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8b8e91;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #8b8e91;
}

.active {
    background-color: #0876E9;
}

img{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    
}

h1{
    text-align: center;
}

.introduction{
    text-indent: 50px;
}

p{
    text-align: center;
}