.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.label {
    width: 400px;
    text-align: left; 
}

.input{
    display: inline;
}

.space{
    display: inline;
    width: 250px;
}

