a{
    display: inline;
    width : 250px;
    height: 50px;
    font-size: 18px;
    color:blue;
}

h1{
    text-align: center
}

div {
    
    margin: auto;;
}
img{
    display:block;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    align-self: auto;
}

p{
    margin: 16px;
    text-indent: 50px;    
}
footer{
    text-align: center;
}